* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: O;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p{
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span{
  vertical-align: middle;
}

.nav-item {
  margin-top: 10px;
}

.nav-item a {
  color: #951C49;
  text-align: center;
}
.nav-item a:hover {
  background: #E7E7E7;
}
.nav-item a span{
  font-size: 1.8em;
}
.navbar-header button.navbar-toggler, .navbar-header .icon-bar{
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggler{
  clear: both;
  margin-top: -30px;
}
#navbarSupportedContent ul {
  float: right;
}


h1 {
  text-align: center;
  border: none;
  margin-bottom: 20px;
   font-size: 35px;
}

body {
  background-color: lightblue;
}

.container {
  background-color: red;
  width: 100%;
}

.name {
  float: right;
  position: relative;
  border: 2px solid black;
  background-color: gray;
  outline-offset: 10%;
}

.chicken {
  border: 2px solid white;
  float: right;
  padding: 5px;
  background-color: red;
  font-size: 25px;
  margin-top: 10px;
}

.beef {
  border: 2px solid white;
  background-color: blue;
  padding: 5px;
  float: right;
  font-size: 25px;
  margin-top: 10px;

}

.sushi {
  border: 2px solid white;
  background-color: purple;
  padding: 5px;
  float: right;
  font-size: 25px;
  margin-top: 10px;
}

.box {
  margin: 20px;
  border: 1px solid green;
  background-color: #A52A2A;

}

p {
  box-sizing: border-box;
  background-color: #A52A2A;
  margin: 10px;
  margin-top: 60px;
  font-family: Helvetica;
  color: white;
  font-size: 20px;

}


@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    padding-right: : 20px;
    margin-right: : 5px;

  }
  .col-lg-1 { /* dividing the screen in 12 equal parts*/
    width: 8.33%;
  }
  .col-lg-2 { /* dividing the screen in 6 equal parts*/
    width: 16.66%;
  }
  .col-lg-3 { /* dividing the screen in 4 equal parts*/
    width: 25%;
  }
    .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
   /*border: 1px solid green;
    
    */padding: 20px;
    margin-bottom: : 30px;
    margin-top: 30px;
  }
  .col-md-1 { /* dividing the screen in 12 equal parts*/
    width: 8.33%;
  }
  .col-md-2 { /* dividing the screen in 6 equal parts*/
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;

  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    padding: 20px;
    margin-bottom: 10px;
    padding-right: : 20px;
  }
  .col-sm-1 { /* dividing the screen in 12 equal parts*/
    width: 8.33%;
  }
  .col-sm-2 { /* dividing the screen in 6 equal parts*/
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #navbarSupportedContent a { /* Collapsed nav menu text */
    font-size: 1.2em;
     
  }
  #navbarSupportedContent a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
    margin-left: 50%;
 
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
}